# API_KEY is the key to access the API
API_KEY=
# PORT is the port number to run the server
PORT=
# ENVIRONMENT is the environment to run the server (e.g. development, production) and is used for logging
ENVIRONMENT=
# Base64 encoded service account json from GCP console
SERVICE_ACCOUNT=""
# Base64 encoded private key of the service account
SERVICE_ACCOUNT_PRIVATE_KEY=""
